div:hover{
  border: 1px;
  border-style: solid;
  border-color: black;
}

.cor1 {
  background-color: red;
  width: 300px;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.cor2 {
  background-color: yellow;
  width: 300px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cor3 {
  background-color: lightblue;
  width: 500px;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cor4 {
  background-color: green;
  width: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cor5 {
  background-color: lightcoral;
  width: 300px;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
