.lista_ordenada {
  background-color: yellow;
}

.par {
  background-color: green;
}

.impar {
  text-transform: uppercase;
}

h1, h2, h3 {
  color: red;

}

h1 em{
  width: 40px;
  border: 1px solid black;
}

li {
  width: 20px;
}

li em {
  font-weight: bold;
}

.primeiros3 {
  color: blue;
}

.java {
  color: pink;
}

.link:hover {
  font-weight: bold;
}

li.link:hover a.cora1 {
  color: orange;
}

li.link:hover a.cora2 {
  color: green;
}

li.link:hover a.cora3 {
  color: black;
}

li.link:hover a.cora4 {
  color: yellow;
}
li.link:hover a.cora5 {
  color: lightgreen;
}
